<nav th:fragment="nav" class="col-md-2 sidebar" xmlns:th="">
    <div class="text-center my-3">
        <img src="/assets/168.png" alt="Logo" class="img-fluid" style="max-height: 80px;">
    </div>
    <a href="/dashboard">Dashboard</a>
    <a href="/employees">Employees</a>
    <a href="/positions">Position</a>
    <a class="dropdown-item" href="/admin/attendance">Attendance Records</a>
    <a href="/payroll">Payroll</a>
    <a href="/reports">Reports</a>
    <a href="/settings">Settings</a>
    <a href="/usermanagement">User Management</a>
    <a href="/logout">Logout</a>

</nav>
