<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<head>
    <title>168 Construction - Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-container">

    <div class="form-section">
        <form th:action="@{/login}" method="post">
            <h2>Login to Your Account</h2>

            <label>Email:</label>
            <input type="text" name="email" required>

            <label>Password:</label>
            <input type="password" name="password" required>

            <button type="submit">Login</button>

            <p th:if="${error}" th:text="${error}"></p>
        </form>
    </div>


    <div class="image-section">
        <img src="/assets/1688.png" alt="168 Construction">
    </div>
</div>
</body>
</html>
